<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <h3>Payments Address</h3>
    </div>
  </div>
  <%= simple_form_for @payment_detail do |f| %>
    <%= render '/shared/error_messages', model: @payment_detail %>
    <div class="row">
      <div class="col-lg-2">
        <%= f.label :account_number %>
      </div>

      <div class="col-lg-4">
        <%= f.input :account_number, label: false, required: true, :input_html => { class: 'input-text input-numeric' } %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <%= f.label :issuing_bank %>
      </div>

      <div class="col-lg-4">
        <%= f.input :issuing_bank, label: false, required: false, :input_html => { class: 'input-text input-numeric'} %>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4">
        <%= link_to "Back", new_shipping_address_path, class: "btn btn-secondary btn-xs" %>
        <%= f.button :submit, 'Next', class: 'btn btn-primary btn-xs' %>
      </div>
    </div>

  <% end  %>
</div>