<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <h2>Shopping Cart</h2>
    </div>

    <% if @cart.present? && @cart.items.any? %>
      <div class="col-lg-6 text-right">

      </div>
    <% end %>
  </div>

  <% if @cart.present? && @cart.items.any? %>
    <div class="row">
      <div class="col-lg-9">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @cart.items.each do |item| %>
            <tr>
              <td><%= item.check_product.title %></td>
              <td><%= item.check_product.description %></td>
              <td><%= number_to_currency(item.price, :unit => "€")  %></td>
              <%= simple_form_for item, url: cart_item_path(item.id), html: { id: 'contract-adjustment-form' } do |f| %>
                <td>
                  <%= f.input_field :quantity, value: item.quantity, class: 'update-quantity'  %>
                  <%= f.button :submit, 'Update', class: 'btn btn-primary btn-sm' %>
                </td>
              <% end %>
              <td><%= link_to "", cart_item_path(item.id), method: :delete, :class => "fa fa-trash link-icon",  data: { confirm: 'Are you sure?', disable_with: 'loading...' } %></td>
            </tr>
          <% end %>
          <tr>
            <% values = @cart.cart_details %>
            <td class="text-right" colspan="5"><%= "Amount #{number_to_currency(values[:amount], :unit => "€")}" %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-lg-6">
        <h5>Your shopping bag is currently empty <span class="badge badge-secondary">0</span></h5>
        <%= link_to "browse our products", products_path, class: 'btn btn-primary btn-xs' %>
      </div>
    </div>
  <% end %>
</div>