<div class="container">

  <div class="row">
    <div class="col-lg-5">
      <h3>ADD Product</h3>
    </div>
  </div>

  <%= simple_form_for @product do |f| %>
    <%= render '/shared/error_messages', model: @product %>
    <div class="row">
      <div class="col-lg-1">
        <%= f.label :title %>
      </div>

      <div class="col-lg-4">
        <%= f.input :title, as: :string, label: false, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
        <%= f.label :description %>
      </div>

      <div class="col-lg-6">
        <%= f.input :description, as: :string, label: false, :input_html => { :size => 50, :class => 'input-text' }, required: true  %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
        <%= f.label :price %>
      </div>

      <div class="col-lg-4">
        <%= f.input :price, as: :currency, label: false, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <%= link_to "Back", products_path, class: "btn btn-secondary btn-xs" %>
        <%= f.button :submit, class: 'btn btn-primary btn-xs' %>
      </div>
    </div>

  <% end %>
</div>

